.pricing{
    text-align: center;
}

.pricing-intro{
    text-align: left;
    
}

.prices{

}

.priceimg{

}

.price{
    height: 800px;
    width: 600px;
}

.top{
    height: 357px;
    width: 500px;
}

.topimg{
    margin-top: 50px;
}
.bot{
    height: 357px;
    width: 500px;
}

.botimg{
    margin-top: 50px;
    margin-bottom: 30px;
}

.foot{
    height: 80px;
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 30px;
}